
@{
    Layout = "_LayoutUser";
}

<h1 style="margin-bottom: 30px"><strong>Payslip Karyawan</strong></h1>

<div class="border border-5" style="padding: 10px;color: #000;font-size: 24px;font-weight: 600;line-height: 150%;letter-spacing: -0.48px;">
    <h2>Print PDF Slip Gaji</h2>
</div>

<div class="border border-5" style="margin-bottom: 30px; padding: 10px">
    <p>Silahkan Download data dengan klik tombol "Print File"</p>

    <label for="dropdown">Option Print PDF</label>
    <select id="dropdown">
        <option value="option1">Print Bulan (Fungsi Dinamis show bulan) ini</option>
        <option value="option2">Cari Bulan</option>
    </select>

    <div id="datePickerContainer" style="display: none;">
        <label for="datepicker">Pilih tanggal:</label>
        <input type="date" id="datepicker">
    </div>

    <br />
    <button href="path/to/your/file.pdf" class="btn btn-success"  style="margin-top:20px;" download>Print File</button>
</div>

<script>
    const dropdown = document.getElementById('dropdown');
    const datePickerContainer = document.getElementById('datePickerContainer');
    const printButton = document.getElementById('printButton');

    dropdown.addEventListener('change', function () {
        const selectedOption = dropdown.value;

        if (selectedOption === 'option2') {
            datePickerContainer.style.display = 'block';
        } else {
            datePickerContainer.style.display = 'none';
        }
    });

    printButton.addEventListener('click', function () {
        const selectedOption = dropdown.value;
        let filePath = '';

        if (selectedOption === 'option1') {
            // Logika untuk mencetak bulan ini
            filePath = 'path/to/this_month_file.pdf';
        } else if (selectedOption === 'option2') {
            // Logika untuk mencetak berdasarkan tanggal yang dipilih
            const selectedDate = document.getElementById('datepicker').value;
            console.log('Tanggal yang dipilih:', selectedDate);
            filePath = 'path/to/selected_date_file.pdf';
        }

        if (filePath !== '') {
            const link = document.createElement('a');
            link.href = filePath;
            link.download = 'Printed File.pdf';
            link.click();
        }
    });
</script>

