@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Selamat Datang</h1>
        <h2 class="display-4">Admin Payroll Universitas Atma Jaya Yogyakarta</h2>
        <hr />

        <h3>Menu Dashboard Payroll</h3>

        <div class="row">
            <div class="col border span-6">
                <h4>Dashboard Admin</h4>
                <p>Master Data Karyawan</p>
            </div>

            <div class="col border span-6">
                <h4>Dashboard Admin</h4>
                <p>Master Data Karyawan</p>
            </div>

            <div class="col border span-6">
                <h4>Dashboard Admin</h4>
                <p>Master Data Karyawan</p>
            </div>
        </div>

    </div>

